.app {
  text-align: center;
}

.news-button {
  width: 90%;
  margin: 20px 5%;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: #008cba;
  color: white;
  cursor: pointer;
}

.news-list {
  padding: 20px;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.news-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  text-align: left; /* 添加这一行以确保文本向左对齐 */
  padding-left: 20px; /* 添加这一行以增加一些左填充 */
}

.news-header {
  display: flex;
  align-items: flex-start; /* 更新这一行以确保标题和数字顶部对齐 */
}

.news-number {
  margin-right: 10px;
  font-weight: bold;
}

.news-title {
  color: #333;
  text-decoration: none;
}

.news-title:hover {
  text-decoration: underline;
}
