.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 15px;
  margin: 0 auto; /* 居中列表 */
  max-width: 800px; /* 或任何其他最大宽度 */
  border-radius: 8px; /* 如果需要，可以添加圆角 */
  background-color: #ffffffad; /* 如果需要，可以设置背景颜色 */
  box-sizing: border-box; /* 确保宽度包括内边距和边框 */
  width: 100%;
  margin-bottom: 70%;
}

.news-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px 5px;
  text-align: left;
}

.news-item img {
  width: 150px; /* 你可以根据需要调整这个值 */
  height: auto; /* 保持图片的纵横比 */
  margin-right: 20px; /* 添加右边距到图片 */
}

.news-header {
  display: flex;
  align-items: flex-start;
}

.news-number {
  margin-right: 10px;
  font-weight: bold;
}

.news-title {
  color: #333;
  text-decoration: none;
}

.news-title:hover {
  text-decoration: underline;
}
/* ...其他样式 */

.title-link {
  text-decoration: none;
  color: inherit;
  flex-grow: 1; /* 使标题链接能够在需要时扩展 */
}

.title {
  font-family: "Arial", sans-serif;
}

.note {
  color: #aaa;
  font-size: 0.8em;
}
